// Manrope - ExtraLight
@font-face {
  font-family: 'Manrope';
  src: url('../../public/assets/fonts/Manrope/Manrope-ExtraLight.ttf');
  font-weight: 200;
}

// Manrope - Light
@font-face {
  font-family: 'Manrope';
  src: url('../../public/assets/fonts/Manrope/Manrope-Light.ttf');
  font-weight: 300;
}

// Manrope - Regular
@font-face {
  font-family: 'Manrope';
  src: url('../../public/assets/fonts/Manrope/Manrope-Regular.ttf');
  font-weight: 400;
}

// Manrope - Medium
@font-face {
  font-family: 'Manrope';
  src: url('../../public/assets/fonts/Manrope/Manrope-Medium.ttf');
  font-weight: 500;
}

// Manrope - Semi Bold
@font-face {
  font-family: 'Manrope';
  src: url('../../public/assets/fonts/Manrope/Manrope-SemiBold.ttf');
  font-weight: 600;
}

// Manrope - Bold
@font-face {
  font-family: 'Manrope';
  src: url('../../public/assets/fonts/Manrope/Manrope-Bold.ttf');
  font-weight: 700;
}

// Manrope - Extra Bold
@font-face {
  font-family: 'Manrope';
  src: url('../../public/assets/fonts/Manrope/Manrope-Medium.ttf');
  font-weight: 800;
}

